<div class="ingredient-fields">
  <div class="input-field col s8">
    <input placeholder="Name" name="ingredientName" id="name"  type="text">
    <label class="active" for="name">Name</label>
  </div>

  <div class="input-field col s4">
    <input placeholder="Amount" name="ingredientAmount"id="amount" type="text">
    <label class="active" for="amount">Amount</label>
  </div>
</div>