  <div class="container">
  </div>
  <div class="row">
    <div class="col s3  sidebar">
      <br>
      <button class: "waves-effect waves-light btn red" id="new-grocery">Create Grocery List</button>
    </div>
    <%= react_component 'Recipe', props={id: @recipe.id} %>
  </div>

